* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*----------shared styles----------*/

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.logo h2 {
    font-size: 42px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.button {
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18.28px 36px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/*----------main section----------*/

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url("images/developer.png"), url("images/header_bg.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav {
    width: 72%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .nav-links a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

#banner {
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    color: #000000;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 20px; 
}

#banner .banner-content p {
    color: #474747;
    font-size: 18pxx;
    margin-bottom: 30px;
    line-height: 30px;
    max-width: 585px;
}

#banner .banner-image img {
    width: 585px;
    height: 676px;
    vertical-align: middle;
}

/* ----- About Section ----- */
#about {
    padding: 131px 156px;
    background-color: #FFF8F3;
    margin: 130px 230px;
    border-radius: 10px;
    text-align: center;
    
}

#about .about-me-text h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    
}

#about .about-me-text p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px
}

#about .about-me-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 19px;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}

#about .about-me-container p {
    color: #757575;
}

/* ----- What I Do Section ----- */
#skills .what-i-do-text {
    max-width: 800px;
    margin: 0 auto 50px;
    text-align: center;
}

#skills .what-i-do-text h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

#skills .what-i-do-text p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}

#skills .skills-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

#skills .skills-container div {
    width: 260px;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(6, 6, 6, 0.08);
    border-radius: 5px;
    text-align: left;
}

#skills .skills-container img {
    width: 44px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#skills.skills-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

#skills .skills-container p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

/*----- Resume Section -----*/

#resume {
    padding: 130px 230px;
    text-align: center; 
}

#resume .resume-heading h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 113px;
    color: #474747;
}

.resume-container {
    display: flex;
    gap: 71px; 
    text-align: left;
    margin-bottom: 30px;
}

.education, .experience {
    flex: 1; 
}

.resume-container h2 {
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;
}

.resume-container h3 {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}

.resume-container h4 {
    font-size: 20px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 20px;
}

.resume-container p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}

.resume-container hr {
    border: 0;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

#resume .button {
    margin-top: 50px;
}